span {
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
}

span:hover {
    cursor: pointer;
    cursor: hand;
    text-decoration: underline;
}

.use {
	color: #000000;
}

.updating {
	color: #FF9933;
}

.creating {
	color: #33CC00;
}

.sbmt {
	border:0;
	background: none white;
	background-color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-weight: bold;
}

.sbmt:hover {
    text-decoration: underline;	
}

.hide {
    display: none;
}

.val {
    float: right;
    padding-right: 8px;
}

.one-day {
    padding-top: 18px;
    padding-bottom: 8px;
}

.title {
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    font-weight: bold;
    text-align: center;
    height:30px;
}

.expires {
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    font-style: italic;
}

.expired {
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    text-decoration: none;
}

.waiting {
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666666;
    text-decoration: none;
}

.all {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
}

.mess {
    list-style: none;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
}

.messb {
    list-style: none;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.messbl {
    cursor: pointer;
    cursor: hand;
    list-style: none;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.messbl:hover {
    cursor: pointer;
    cursor: hand;
    list-style: none;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: underline;
}

.day {
    text-align: center;
}

.datec {
    height: 16%;
    background-color: #FFFFFF;
    width: 14%;
    vertical-align: top;
    font-size: 11px;
    padding: 4px;
    border: solid 1px #CCCCCC;
}

.date {
    height: 16%;
    background-color: #F5F5F5;
    width: 14%;
    vertical-align: top;
    font-size: 11px;
    padding: 4px;
}

.dateh {
    height: 16%;
    background-color: #FFEFE4;
    width: 14%;
    vertical-align: top;
    font-size: 11px;
    padding: 4px;
}

.dat {
    height: 16%;
    width: 14%;
}

.wdth {
    width: 97%;
    border: solid 1px #CCCCCC;
    padding: 5px;
}

.info {
    padding: 6px;
    background-color: #FAFAFA;
}

.logout {
    width: 24px;
    float: right;
    margin-top: 1px;
}

.line {
    background-color: #CCCCCC;
    height: 3px;
    margin: 3px;
}

.message {
    text-align: center;
    color: #FF0000;
}

.lineh {
    background-color: #FAFAFA;
    height: 25px;
    vertical-align: middle;
}

.text {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.text:hover {
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    text-decoration: underline;
}

.command-list li {
    list-style: none;
    float: right;
    padding-left: 10px;
    cursor: pointer;
    cursor: hand;
    text-align: center;
}

.command-list li:hover {
    text-decoration: underline;
    list-style: none;
    float: right;
    padding-left: 10px;
    cursor: pointer;
    cursor: hand;
    text-align: center;
}

.domain-list li {
    list-style: none;
    float: right;
    padding-left: 5px;
    cursor: pointer;
    cursor: hand;
}

.domain-list li:hover {
    text-decoration: underline;
    list-style: none;
    float: right;
    padding-left: 5px;
    cursor: pointer;
    cursor: hand;
}

.domain-name li {
    list-style: none;
    float: left;
    padding-left: 5px;
    cursor: pointer;
    cursor: hand;
}

.domain-name li:hover {
    text-decoration: underline;
    list-style: none;
    float: left;
    padding-left: 5px;
    cursor: pointer;
    cursor: hand;
}

.table-list td {
    padding: 10px;
}

.month li {
    list-style: none;
    margin: 4px;
    display: block;
    cursor: pointer;
    cursor: hand;
    padding: 5px;
}

.month li:hover {
    list-style: none;
    margin: 4px;
    display: block;
    cursor: pointer;
    cursor: hand;
    background-color: #F2F2F2;
    padding: 5px;
}

.month-cur {
    background-color: #FFEFE4;
}

.cnt {
    float: right;
    padding-right: 4px;
}

.all-date {
    list-style: none;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    cursor: hand;
}

.all-date:hover {
    list-style: none;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    cursor: hand;
    text-decoration: underline;
}

.overdue {
    color: #FF0000;
}

.need-renew {
    color: #FF9900;
}

/* Dumper */
.dump {
    text-decoration: none;
    margin: 0;
}

.dynamic {
	display: block;
}
.dump b {
	float:right;
	vertical-align:middle;
	text-decoration:none;
	cursor: pointer;
	cursor: hand;
	padding-top:4px;
	color: green;
	padding-right:8px;
	width: 12px;
}
.dump u {
	float:right;
	display: block;
	vertical-align:middle;
	text-decoration:none;
	cursor: pointer;
	cursor: hand;
	padding-top:3px;
	color: braun;
	padding-left:8px;
	width: 12px;
	height: 27px;
}
.dump i {
    padding-top: 5px;
    vertical-align: middle;
    font-style: italic;
    height: 27px;
    cursor: text;
}

.dump span {
    text-decoration: none;
    cursor: text;
}

.dump-edit {
    float: right;
    width: 70%;
    border: solid 1px #CCCCCC;
    padding: 2px;
}

.dump-text {
    float: right;
    width: 70%;
//    border: solid 1px #CCCCCC;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
    text-decoration: none;
    cursor: text;
}

.dump-cc {
    float: right;
    width: 70%;
    border: solid 1px #CCCCCC;
    padding: 2px;
}

.dump li {
    height: 27px;
    list-style: none;
}

.dump div {
    vertical-align: middle;
    padding-right: 5px;
    float: left;
    text-align: left;
}

/* Modal window */
.win {
    background: #F2F2F2;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 77777;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.win:target {
    display: block;
    pointer-events: auto;
    z-index: 88888;
}

.win > div {
    background: #FFFFFF;
    width: 60%;
    height: 90%;
    position: relative;
    margin: 2% auto;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    box-shadow: 0 0 10px #CCCCCC;
    z-index: 99998;
}

.close {
    background: #CC3300;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000000;
    -webkit-box-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 3px #000000;
}

.close:hover {
    background: #990000;
}

/* Country list*/
.country-none {
    display: none;
}

.country {
    display: block;
    text-align: left;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
}

.country-list {
    display: block;
    position: absolute;
    width: 360px;
    overflow: auto;
    background-color: #FAFAFA;
    border: solid 1px #CCCCCC;
    margin-right: 9px;
    margin-top: 30px;
    padding: 10px;
}

.country-list li {
    list-style: none;
    margin: 2px;
    display: block;
    cursor: pointer;
    cursor: hand;
    padding: 2px;
}

.country-list li:hover {
    list-style: none;
    margin: 2px;
    display: block;
    cursor: pointer;
    cursor: hand;
    background-color: #F2F2F2;
    padding: 2px;
}

/* Drop down menu */
.pref {
    width: 30px;
    float: left;
}

.smenu {
    display: none;
    margin-top: 36px;
}

.pref:focus ~ .smenu,
.pref:active ~ .smenu,
.smenu:hover {
    display: block;
    position: absolute;
    width: 300px;
    overflow: auto;
    background-color: #FAFAFA;
    border: solid 1px #CCCCCC;
    margin-right: 9px;
    padding: 10px;
}

.smenu li {
    list-style: none;
    margin: 4px;
    display: block;
    cursor: pointer;
    cursor: hand;
    padding: 3px;
}

.smenu li:hover {
    list-style: none;
    margin: 4px;
    display: block;
    cursor: pointer;
    cursor: hand;
    background-color: #F2F2F2;
    padding: 3px;
}

